@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* general text formatting */

h1, h2, h3, nav, footer {
    font-family: 'Merriweather', serif; 
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
}


legend {
    background-color: #616161 ;
    color: white;
    width: 80%;
    text-align-last: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5em;

}

fieldset {
    margin: 1em auto;
    background-color: #F5F5F5;

}

div#searchBox, div#settingsBox, div#paintingBox {
    margin: 0.25em auto;
    background-color: #E0E0E0;
    border: 1pt solid #616161;
    padding: 0.5em;

}
div#searchBox { 
    margin-top: 1em;
}
div#paintingBox { 
    background-color: #EEEEEE;
}

table {
    border-collapse: collapse;
    width:100%;
}
table thead {
    background-color: #E0E2E2;

}
caption {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.25em;
    background-color: #BDBDBD;
}
table tr {
    border: solid #616161;
    border-width: 1px 0;
}
table tr:first-child{
    border-top: none;
}
table tr:last-child {
    border-bottom: none;
}
table td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
img[alt="thumbnails"] {
    border: 0.5px solid;
    padding: 0.1em;
    vertical-align: middle;
    margin-right: 1em;
    margin-left: 0.3em;
}